.whole-signup-container {
    padding: 0em 1em 0em;
    height: 47em;
}

.sign-up-header {
    display: flex;
    padding-bottom: 1.2em;
    border-bottom: solid lightgray 1px;
}

.sign-up-header span {
    margin: 0 auto;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 65vh;
    width: 30vw;
}

.input-label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.input-label-container input {
    display: flex;
    height: 5vh;
    width: 21vw;
    font-size: 1em;
    margin-bottom: 1em;
    border: solid rgb(151, 151, 151);
    border-width: 1px;
    border-radius: 12px;
    padding-left: 10px;
}

.sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 5.4vh;
    width: 21.8vw;
    font-size: 1em;
    border: solid rgb(151, 151, 151);
    border-width: 1px;
    border-radius: 12px;
    background-color: rgb(255, 56, 92);
    color: white;
    font-weight: bold;
    margin-bottom: 1em;
    cursor: pointer;
}

.sign-up-button:hover {
    background-color: rgb(252, 89, 119);
}
