.update-spot-container {
    padding: 0em 1em 0em;
}

.update-spot-header {
    display: flex;
    padding-bottom: 1.2em;
    border-bottom: solid lightgray 1px;
}

.update-spot-header span {
    margin: 0 auto;
    font-size: 20px;
}

.update-form-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 30vw;
}

.update-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.update-input-container input, .update-input-container button {
    display: flex;
    width: 21vw;
    font-size: 1em;
    margin-bottom: 1em;
    border: solid rgb(151, 151, 151);
    border-width: 1px;
    border-radius: 12px;
}

.update-input-container input {
    padding: 0.3em;
    height: 2.5em;
}

.update-input-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 72%;
    cursor: pointer;
    background-color: rgb(255, 56, 92);
    color: white;
    font-weight: bold;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}

.update-input-container button:hover {
    background-color: rgb(252, 89, 119);
}

.spot-errors-map {
    display: flex;
    flex-wrap: wrap;
    width: 77%;
    margin-left: 7%;
    list-style: none;
    color: red;
    font-weight: bold;
    font-size: 14px;
}
