.whole-reviews-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;
}

.description-for-reviews {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 2px;
    width: 100%;
}

.upper-section-reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lower-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    gap: 10px;
}

@media (max-width: 1250px) {
    .lower-section-container {
        display: flex;
        flex-direction: column;
    }
}

.review-and-pic {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-radius: 10px;
    width: 100%;
    /* box-shadow: 2px 2px 10px rgba(12, 12, 12, 0.3); */
}

.review-with-delete {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.name-date-buttons-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.pic-name-date-div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.name-and-date-div {
    margin-left: 15px;
}

.review-by-user {
    line-height: 20px;
    width: 95%;
}

.review-user-firstname {
    font-weight: bold;
}

.review-date {
    color: rgb(104, 104, 104);
}

.review-button {
    align-items: center;
    padding: 5px;
    background-color: rgb(255, 56, 92);
    color: white;
    border-color: lightgray;
    border-radius: 5px;
    border-width: thin;
    cursor: pointer;
    /* margin-right: 1em; */
    font-weight: bold;
}

.review-button:hover {
    background-color: rgb(240, 240, 240);
    color: black;
}

.edit-review-div-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* padding-left: 50px; */
    margin-left: auto;
}

.delete-review {
    margin-bottom: 5px;
}

.number-review-header {
    margin-right: 16vw;
}
