.whole-reviews-container {
    display: flex;
    flex-direction: column;
}

.description-for-reviews {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 2px;
}

.upper-section-reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lower-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    gap: 10px;
}

.review-and-pic {
    display: flex;
    flex-direction: row;
    width: 20vw;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(12, 12, 12, 0.3);
    padding: 10px 7px;
}

.review-with-delete {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    margin-bottom: 1em;
}

.review-by-user {
    width: 200px;
    overflow-wrap: break-word;
}

.review-user-firstname {
    font-weight: bold;
}

.review-date {
    color: rgb(104, 104, 104);
}

.review-button {
    align-items: center;
    padding: 5px;
    background-color: rgb(255, 56, 92);
    color: white;
    border-color: lightgray;
    border-radius: 5px;
    border-width: thin;
    cursor: pointer;
    /* margin-right: 1em; */
    font-weight: bold;
}

.review-button:hover {
    background-color: rgb(240, 240, 240);
    color: black;
}

.edit-review-div-container {
    display: flex;
    flex-direction: column;
}

.delete-review {
    margin-bottom: 5px;
}

.number-review-header {
    margin-right: 16vw;
}
