.spots-div-wrapper {
    margin-top: 2.5em;
    width: auto;
}

.spotsDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    line-break: strict;
    list-style: none;
    width: 93%;
    margin: auto;
    gap: 1.5em 10px;
}

.spotImages {
    height: 250px;
    width: 270px;
    border-radius: 5%;
    object-fit: cover;
}

.spot-description-wrapper {
    display: flex;
    flex-direction: column;
}

.spot-description {
    display: flex;
    justify-content: space-between;
    align-items: space-around;
}

.city-state, .pricing {
    flex-wrap: wrap;
    color: black;
    font-weight: bold;
}

.avg-rating-wrapper, .spot-price{
    color: black;
    padding-bottom: 10px;
}

.avg-rating-wrapper {
    display: flex;
    align-items: center;
}

.average-rating {
    margin-left: 3px;
}
