.spot-id-wrapper {
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
    padding: 1em;
}

.spot-name {
    margin-top: 0;
    font-size: 26px;
    font-weight: 600;
}

.description-for-spots {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 2px;
}

.avg-star-rating {
    font-weight: bold;
}

.spot-images {
    height: 50vh;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.host-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    border-bottom: solid rgb(204, 204, 204);
    border-width: 1px;
    margin-right: 1em;
}

.edit-delete-button {
    margin-left: auto;
}

.review-modal-button {
    margin-left: auto;
}

.edit-delete-button button, .review-modal-button button {
    align-items: center;
    height: 42px;
    width: 77px;
    background-color: white;
    border-color: lightgray;
    border-radius: 20px;
    border-width: thin;
    cursor: pointer;
    margin-right: 1em;
    font-weight: bold;
}

.edit-delete-button button:hover, .review-modal-button button:hover {
    background-color: rgb(240, 240, 240);
}
