.hidden {
    display: none
}

.navigation-bar {
    /* border: solid green; */
    border-top: solid rgb(204, 204, 204);
    border-bottom: solid rgb(204, 204, 204);
    border-width: 1px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.website-name {
    font-size: 25px;
    font-weight: 800;
    display: flex;
    align-items: center;
    color: rgb(255, 56, 92);
}

.website-logo {
    height: 55px;
    width: 55px;
    margin: 0;
    padding: 0;
}

.user-button, .right-section-nav button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 77px;
    background-color: white;
    border-color: lightgray;
    border-radius: 20px;
    border-width: thin;
    cursor: pointer;
    margin-right: 1em;
    font-weight: bold;
}

.fa-bars{
    color: rgb(75, 75, 75);
    display: flex;
    align-items: center;
    width: 60px;
    height: 40px;
    padding-left: 5px;
}

.fas {
    color: rgb(87, 86, 86);
}

.modal-menu-items, .user-menu-items {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    padding: 0.5em;
    position: absolute;
    right: 1px;
    top: 2.5em;
    width: 13vw;
    margin-top: 2%;
    margin-right: 10px;
    list-style-type: none;
}

.modal-menu-items li, .user-menu-items li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal-menu-items li:hover, .user-logout-button:hover, .right-section-nav button:hover {
    background-color: rgb(240, 240, 240);
}


.user-logout-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    border-radius: 1em;
    height: 1em;
    font-size: 0.5em;
}

.right-section-nav {
    display: flex;
}
