.whole-login-container {
    padding: 1em;
}

.x-button {
    cursor: pointer;
    width: 20px;
    margin-left: 2%;
    font-weight: bold;
    color: rgb(95, 95, 95);
}

.log-in-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5em;
    border-bottom: solid lightgray 1px;
}

.welcome-header {
    display: flex;
    margin-left: 13%;

}

.form-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 50vh;
    width: 30vw;
}

.log-in-demo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 5.4vh;
    width: 21.5vw;
    font-size: 1em;
    border: solid rgb(151, 151, 151);
    border-width: 1px;
    border-radius: 12px;
    background-color: rgb(255, 56, 92);
    color: white;
    font-weight: bold;
    margin-bottom: 1em;
    cursor: pointer;
}

.label-tag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.label-tag-container input {
    display: flex;
    height: 5vh;
    width: 21vw;
    font-size: 1em;
    border: solid rgb(151, 151, 151);
    border-width: 1px;
    border-radius: 12px;
}

.username-email-tag, .password-tag {
    margin-bottom: 1em;
}
