.whole-login-container {
    padding: 0em 1em 0em;
}

.x-button {
    cursor: pointer;
    width: 20px;
    font-weight: bold;
    color: rgb(95, 95, 95);
}

.log-in-header {
    display: flex;
    padding-bottom: 1.2em;
    border-bottom: solid lightgray 1px;
}

.log-in-header span {
    margin-left: 40%;
}

.welcome-header {
    display: flex;
    margin-left: 14%;

}

.form-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 55vh;
    width: 30vw;
}

.log-in-demo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 5.4vh;
    width: 21.8vw;
    font-size: 1em;
    border: solid rgb(151, 151, 151);
    border-width: 1px;
    border-radius: 12px;
    background-color: rgb(255, 56, 92);
    color: white;
    font-weight: bold;
    margin-bottom: 1em;
    cursor: pointer;
}

.demo-button {
    background-color: white;
    color: black;
}

.demo-button:hover {
    background-color: rgb(228, 228, 228);
    color: rgb(255, 56, 92);
}

.demo-button:hover span {
    visibility: hidden;
    text-indent: -9999px;
}

.demo-button:hover::after {
    content: 'Test me out';
}


.label-tag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.label-tag-container input {
    display: flex;
    height: 5vh;
    width: 21vw;
    font-size: 1em;
    border: solid rgb(151, 151, 151);
    border-width: 1px;
    border-radius: 12px;
    padding-left: 10px;
}

.username-email-tag, .password-tag {
    margin-bottom: 1em;
}

.errors-map {
    display: flex;
    flex-wrap: wrap;
    width: 77%;
    margin-left: 7%;
    list-style: none;
    color: red;
    font-weight: bold;
}
